.session-form {
  background: transparent url('../../assets/img/Background3.png') 0% 0% no-repeat padding-box;
}

.input-form {
  margin: .75rem 3rem  ;
}

.input-form input, .input-form select {
  font-family: Poppins;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 1.375rem 1.75rem;
}
