.brand {
  margin: 30px 0 30px 220px;
}

// tamanho lg - laptop
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .brand {
    margin: 30px calc(100% - 300px) 30px 200px;
  }
}

// tamanho md - tablet
@media screen and (min-width: 426px) and (max-width: 768px) {
  .brand {
    margin: 30px 50%;
  }
}

// tamanho xs - mobile
@media screen and (max-width: 425px) {
  .brand {
    margin: 30px 20%;
  }
}
