/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto&display=swap');

.sessao1 {
  width: 1920px;
  height: 720px;
  /* UI Properties */
  background: transparent url('../img/Background.png') 0% 0% no-repeat padding-box;
}

.sessao2 {
  width: 1920px;
  height: 700px;
  background: transparent url('../img/Background2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.sessao3 {
  width: 1920px;
  height: 560px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}

.sessao4 {
  width: 1920px;
  height: 720px;
  background: transparent url('../img/Background3.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer {
  width: 1920px;
  height: 160px;
  background: #000000 0% 0% no-repeat padding-box;
}
