/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto&display=swap');

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf');
}

$body-bg: #fff;
$font-family-sans-serif: "Poppins",
  sans-serif;
$primary: #5B6ED6;
$secondary: #000000;


* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: "0px";
  padding-top: "24px";
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: "0px";
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding-top: "24px";
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  letter-spacing: "0px";
}

.sessao2 {
  height: 700px;
  background: transparent url('../img/Background2.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.sessao4 {
  width: 1920px;
  height: 720px;
  background: transparent url('../img/Background3.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.footer {
  display: flex;
  width: 100%;
  height: 160px;
  background: #000000 0% 0% no-repeat padding-box;
}
