.textColor-white {
  color: white;
}

.textFamily-Helvetica-Regular {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

.textFamily-Poppins-Light {
  font-family: Poppins;
  font-weight: 300;
}

.textFamily-Poppins-Regular {
  font-family: Poppins;
  font-weight: 400;
}

.bgColor-black-transparent {
  background: rgba(0, 0, 0, .5);
}



  /* UI Properties */

